@font-face {
  font-family: 'Futura PT';
  src: url('/public/fonts/FuturaCyrillicLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/public/fonts/FuturaCyrillicMedium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/public/fonts/FuturaCyrillicDemi.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/public/fonts/FuturaCyrillicBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/public/fonts/FuturaCyrillicHeavy.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}