.home {
  @include page-main;
  min-height: 100vh;

  .image-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}